/* styles.css */

.chatinput {
    display: grid;
    align-items: center;
    grid-template-columns: 5% 95%;
    background-color: #080420;
    padding: 0 2rem;
  }
  
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    .chatinput {
      padding: 0 1rem;
      gap: 1rem;
    }
  }
  
  .chatinput-button-container {
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
  }
  
  .chatinput-emoji {
    position: relative;
  }
  
  .chatinput-emoji svg {
    font-size: 1.5rem;
    color: #ffff00c8;
    cursor: pointer;
  }
  
  .EmojiPickerReact {
    position: absolute;
    top: -390px;
    background-color: #080420;
    box-shadow: 0 5px 10px #9a86f3;
    border-color: #9a86f3;
  }

      /* .emoji-scroll-wrapper::-webkit-scrollbar {
    background-color: #080420;
    width: 5px;
  }
  
  .emoji-scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #9a86f3;
  }
  
  .emoji-categories button {
    filter: contrast(0);
  }
  
  .emoji-search {
    background-color: transparent;
    border-color: #9a86f3;
  }
  
  .emoji-group:before {
    background-color: #080420;
  } */
  
  .chatinput-input-container {
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff34;
  }
  
  .chatinput-input-container input {
    width: 90%;
    height: 60%;
    background-color: transparent;
    color: white;
    border: none;
    padding-left: 1rem;
    font-size: 1.2rem;
  }
  
  .chatinput-input-container input::selection {
    background-color: #9a86f3;
  }
  
  .chatinput-input-container input:focus {
    outline: none;
  }
  
  .chatinput-input-container button {
    padding: 0.3rem 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a86f3;
    border: none;
  }
  
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    .chatinput-input-container button {
      padding: 0.3rem 1rem;
    }
    
    .chatinput-input-container button svg {
      font-size: 1rem;
    }
  }
  
  .chatinput-input-container button svg {
    font-size: 2rem;
    color: white;
  }


  

/* .chatinput {
    display: grid;
    align-items: center;
    grid-template-columns: 5% 95%;
    background-color: #080420;
    padding: 0 2rem;
}


.chatinput-button-container {
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
}

.chatinput-emoji {
    position: relative;
}

.chatinput-emoji svg {
    font-size: 1.5rem;
    color: #ffff00c8;
    cursor: pointer;
}

.emoji-picker-react {
    position: absolute;
    top: -350px;
    background-color: #080420;
    box-shadow: 0 5px 10px #9a86f3;
    border-color: #9a86f3;
}

.emoji-scroll-wrapper::-webkit-scrollbar {
    background-color: #080420;
    width: 5px;
}

.emoji-scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #9a86f3;
}

.emoji-categories button {
    filter: contrast(0);
}

.emoji-search {
    background-color: transparent;
    border-color: #9a86f3;
}

.emoji-group:before {
    background-color: #080420;
}

.chatinput-input-container {
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff34;
}

.chatinput-input-container input {
    width: 90%;
    height: 60%;
    background-color: transparent;
    color: white;
    border: none;
    padding-left: 1rem;
    font-size: 1.2rem;

}

.chatinput-input-container input::selection {
    background-color: #9a86f3;
}

.chatinput-input-container input:focus {
    outline: none;
}

.chatinput-input-container button {
    padding: 0.3rem 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a86f3;
    border: none;

}

.chatinput-input-container button svg {
    font-size: 2rem;
    color: white;
} */