.contact-container {
    display: grid;
    grid-template-rows: 10% 75% 15%;
    overflow: hidden;
    background-color: #080420;
}

.contact-brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.contact-brand img {
    height: 2rem;
}

.contact-brand h3 {
    color: white;
    text-transform: uppercase;
}

.contact-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.8rem;
}

.contact-contacts::-webkit-scrollbar {
    width: 0.4rem;
}

.contact-contacts::-webkit-scrollbar-thumb {
    background-color: #ffffff39;
    width: 0.1rem;
    border-radius: 1rem;
}

.contact {
    background-color: #ffffff34;
    min-height: 5rem;
    cursor: pointer;
    width: 90%;
    border-radius: 0.2rem;
    padding: 0.4rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.contact-avatar img {
    height: 3rem;
}

.contact-username h3 {
    color: white;
}

.contact-selected {
    background-color: #9a86f3;
}

.contact-current-user {
    background-color: #0d0d30;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contact-avatar img {
    height: 2rem;
    max-inline-size: 100%;
}

.contact-username h2 {
    color: white;
}